$color-orange: rgb(240, 78, 35); // #f04e23	(240,78,35) Orange
$color-dark-grey: rgb(99, 101, 106); // #63656a	(99,101,106) Dark Grey
$color-light-grey: rgb(178, 178, 178); // #b2b2b2	(178,178,178) Light Grey
$color-white: rgb(255, 255, 255); // #ffffff	(255,255,255) White
$color-black: rgb(0, 0, 0); // #000000	(0,0,0) Black
