@import "colors";
@import "partials/header";
@import "partials/footer";

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;

  display: flex;
  flex-direction: column;

  height: 100%;
}

main {
  flex: 1;
  padding: 10px;
  background: $color-dark-grey;
}

#map {
  height: 100%;
}
