<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>virusviz</title>
    <meta name="description" content="virusviz">
    <link id="favicon" rel="icon" href="https://hyperweb.space/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../lib/leaflet/leaflet.css" />
  </head>
  <body>
    <header>
      <h1>
        VIRUSVIZ
      </h1>
    </header>

    <main>
      <div id="map"></div>
      <div class="stats-container">
        <div class="stats-module">
          <div class="module-heading">
            <h2>Cases in the</h2>
            <select class="country-selector" name="Country">
              <option>United States</option>
            </select>
          </div>
          <div class="cases">
            <div class="module-item">
              <div class="item-left">Total Cases</div>
              <div class="item-right">708</div>
            </div>
            <div class="module-item">
              <div class="item-left">Deaths</div>
              <div class="item-right">27</div>
            </div>
            <div class="module-item">
              <div class="item-left">Recovered</div>
              <div class="item-right green-text">15</div>
            </div>
            <div class="module-item sub-item-container">
              <div class="item-left sub-item">
                  <h3 class="module-sub-heading">Active Cases</h3>
                  <div class="sub-content-top">
                    <p>666</p>
                    <p>Currently Infected Patients</p>
                  </div>
                  <div class="sub-content-bottom">
                    <div class="bottom-left">
                      <p>658(99%)</p>
                      <p>in Mild Condition</p>
                  </div>
                    <div class="bottom-right">
                      <p>8(1%)</p>
                      <p>Serious or Critical</p>
                    </div>
                  </div>
            </div>
              <div class="item-right sub-item">
                  <h3 class="module-sub-heading">Closed Cases</h3>
                  <div class="sub-content-top">
                    <p>42</p>
                    <p>Cases which had an outcome:</p>
                  </div>
                  <div class="sub-content-bottom">
                    <div class="bottom-left">
                      <p>15(36%)</p>
                      <p>Recovered / Discharged</p>
                  </div>
                    <div class="bottom-right">
                      <p>27(64%)</p>
                      <p>Deaths</p>
                    </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div class="stats-module">
          <h2 class="module-heading">#COVID19</h2>
          <div class="newsfeed">
            <div class="module-item"><div class="item-left"></div><div class="item-right"></div></div>
            <div class="module-item"><div class="item-left"></div><div class="item-right"></div></div>
            <div class="module-item"><div class="item-left"></div><div class="item-right"></div></div>
            <div class="module-item"><div class="item-left"></div><div class="item-right"></div></div>
            <div class="module-item"><div class="item-left"></div><div class="item-right"></div></div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <h2>Made with ♡ by Sean Swanson 2020</h2>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="../lib/leaflet/leaflet.js"></script>

    <script src="/client.js"></script>

  </body>
</html>
